@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

*
{
    scrollbar-width: thin;
    scrollbar-color: #5d5d5d #282828;
    user-select: none;
}

.selectable
{
    user-select: initial;
}

:focus,
:focus-visible
{
    outline: none;
}

body.mlgui 
{
    background: #181818;
    color : white;
    width: 100%;
    min-height: 100vh;
    margin:0;
    font-family: system-ui;
    font-size: 14px;
}

.window
{
    position: fixed;
    background: #282828;
    border-radius: 5px;
    box-shadow: 4px 4px 14px 0 #0000003d;
    z-index : 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.box
{
    display : flex;
}

.box.vertical
{
    flex-direction: column;
}

.box.horizontal
{
    flex-direction: row;
}

.title-bar
{
    padding: 1em;
    background-color: #353535;
    border-radius: 5px 5px 0 0;
    cursor: grab;
    user-select: none;
}

.window.focused .title-bar
{
    background-color: #1a3f4a;
}

button
{
    cursor : pointer;
}

button.close-button
{
    margin: auto;
    margin-right: 0;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
}

button.close-button:before,
button.close-button:after
{
    position: absolute;
    content: ' ';
    height: 24px;
    top: 12px;
    width: 2px;
    background-color: #fff;
}

button.close-button:before
{
    transform: rotate(45deg);
}

button.close-button:after
{
    transform: rotate(-45deg);
}

.scale-grabber
{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

.button
{
    margin : 0.5em auto;
    border: none;
    color: white;
    background-color: #333333;
    padding: 0.5em 1em;
    font-size: 1em;
    font-family: inherit;
    border-radius: 4px;
    transition: background-color 0.15s;
}

.button:hover
{
    background-color: #2b2b2b;
}

.button:active,
.button.active
{
    background-color: #222222;
}

.entry,
.spinButton
{
    background-color: #222222;
    color: white;
    border: 1px solid #00000040;
    border-radius: 4px;
    padding: 0.6em 1em;
    font-size: 1em;
    font-family: inherit;
}

.scrollable
{
    overflow: auto;
}

.window .content
{
    height: 100%;
}

.window .foot
{
    margin: auto;
    margin-bottom: 0;
    margin-left: 0;
}

progress
{
    appearance: none;
    width: calc(100% - 2em);
    height: 5px;
    border : none;
}

progress::-webkit-progress-bar
{
    background-color: #222222;
    border-radius: 10px;
    border : none;
}

progress::-webkit-progress-value
{
    background-color: #09a3d1;
    border-radius: 10px;
    border : none;
}

progress::-moz-progress-bar
{
    background-color: #222222;
    border-radius: 10px;
    border : none;
}

input[type=range]
{
    appearance: none;
    height: 6px;
    padding: 0;
    border-radius: 10px;
    background: #222222;
    border : none;
}

.slider::-webkit-slider-thumb {
    appearance: none; /* Remove default styling */
    width:10px;
    height:10px;
    background-color : #09a3d1;
    border-radius: 10px;
    border : none;
    cursor: pointer;
}

input[type=checkbox]
{
    cursor: pointer;
}

.slider::-moz-range-thumb {
}

/* Styling for track (progress) before thumb */
.slider::-webkit-slider-runnable-track {
}

/* Styling for track (progress) before thumb in Firefox */
.slider::-moz-range-track {
}

.switch
{
    width: 60px;
    height: 28px;
    background-color: #222222;
    border-radius: 100px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    position: relative;
    margin-left: auto;
    transition: background-color 0.25s;
}

.switch.active
{
    background-color: #09a3d1;
}

.switch .switchButton
{
    height: 20px;
    width: 20px;
    background-color: #333333;
    border-radius: 100px;
    margin-top: 4px;
    margin-left: 4px;
    position: absolute;
    margin-right: 4px;
    left : 0px;
    transition : left 0.25s;
}

.switch.active .switchButton
{
    left: 32px;
}

.spinner
{
    width: 1em;
    height: 1em;
    background-color: transparent;
    border-radius: 50px;
    border: 3px solid transparent;
    border-top-color: #09a3d1;
    margin: auto;
    pointer-events: none;
    animation: rotate 1s ease-in-out infinite;
}

.window.main
{
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 100;
}

.window.main .scale-grabber,
.window.main .title-bar
{
    display: none;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

.align-fill
{
    text-align: left;
}
