.label
{
    padding : 0.5em;
}

.button
{
    border : none;
    box-shadow : 0px 0px 4px 0px rgba(0,0,0,0.4);
}

.input
{
    margin : 0.25em 1em;
    padding : 0.2em 1em;
}

.input.slider, 
.progressBar
{
    margin : 0.5em 1em;
}

.input.checkBox
{
    margin : 1em;
}

.input.switch
{
    padding : initial;
}

.menu-bar
{
    padding : 0px;
    margin : 0;
    background: var(--button-background-color);
}

.menu-button
{
    margin : 0;
    padding : 0.3em 0.5em;
    border : none;
    box-shadow : none;
}

.menu-button:hover
{
    background-color : var(--hover-background-color);
}

.menu-button-label
{
    margin : 0;
    padding : 0 0.5em;
}

.menu-button-keybind
{
    margin : 0;
    padding : 0 0.5em;
    color : grey;
    font-style : italic;
    font-size : 0.9em;
}

.menu-popover
{
    padding : 2px;
}

.tabs-header
{
    padding : 0;
    margin : 0.5em 0;
}

.tabs-body
{
    padding : 0.5em;
}

.tab-button
{
    padding : 0 1em;
    transition : background 0.1s;
    background: var(--button-background-color);
}

.tab-button:hover,
.tab-button.active
{
    background : var(--active-background-color);
}

.tab-button:first-child
{
    border-radius : 10px 0px 0px 10px;
}

.tab-button:last-child
{
    border-radius : 0px 10px 10px 0px;
}

.tabs-header
{
    padding : 0 0.5em;
}

.button.icon
{
    background : var(--button-background-color);
    transition : background 0.1s;
    padding : 0 0.75em;
    border-radius : 5px;
}

.button.icon:hover
{
    background : var(--hover-background-color);
}

.button.icon .image
{
    margin-top : 0.25em;
}

.invert
{
    filter : invert(1);
}

.collapsable
{
    border-radius : 5px;
    background : var(--list-background-color);
    margin-top : 2px;
}

.collapsable-body
{
    padding : 0.5em;
    padding-top : 0em;
}

.paned
{
    background : var(--list-background-color);
}

.panel
{
    margin : 0;
    padding:0;
    background : var(--list-background-color);
}

.separator
{
    background : var(--separator-color);
    padding-top : 1px;
    margin : 0.5em 0;
}

.panel-header
{
    padding : 3px;
    background : var(--list-background-color)
}

.panel-title
{
    font-style : italic;
}
.property-group
{
    padding : 0.5em;
    margin : 3px;
    background : var(--list-background-color);
    border-radius : 5px;
}

.property-group .prop
{
   margin-top : 0.5em;
}

.property-group .prop:first-child
{
    margin-top : 0;
}

.property-group .input
{
    margin : 0px;
}

.dialog.message .main
{
    padding : 0.5em;
}

.dialog.message .foot
{
    background : var(--list-background-color);
    padding : 0.5em;
}

.dialog.icon .main
{
    padding : 1em;
}

.dialog.icon .icon
{
    margin-right : 1em;
}

button.dialog-cancel
{
   background : var(--dialog-cancel-color);
}

.dialog.confirm button.dialog-ok
{
    background : var(--dialog-ok-color);
}
.dialog .property-group
{
    margin-top : 1em;
}

.foot
{
    padding : 0.5em;
}
.multiline-entry
{
    padding : 0.7em 1em;
    border-radius : 5px;
    margin : 1em;
    border: 1px solid var(--hover-background-color);
}

.vtable-header-label:hover,
.vtable-row:hover
{
    background : var(--hover-background-color);
}

.vertical-table-header
{
    box-shadow : 0 0 7px #00000050;
}

.subrange .before,
.subrange .after,
.time-slider .after,
.time-slider-in-out .before,
.time-slider-in-out .after
{
    background-color : var(--hover-background-color);
}

.subrange .range,
.time-slider .before,
.time-slider-in-out .range
{
    background-color : var(--slider-background);
}

.time-slider-in-out .cursor
{
    background-color : var(--slider-cursor-color);
}

.spinButton
{
    margin : 0.2em 0.5em;
}

.mdview .code-block
{
    font-family : mono;
    background : var(--code-block-background-color);
    border-radius : 4px;
    padding : .7em;
    margin-bottom : 5px;
}

.mdview .h1, .h2, .h3, .h4, .h5, .h6
{
    font-weight : bold;
    line-height : 1.2em;
}

.mdview .h1
{
    font-size : 3em;    
}

.mdview .h2
{
    font-size : 2em;    
}

.mdview .h3
{
    font-size : 1.5em;    
}

.mdview .h4
{
    font-size : 1.25em;    
}

.mdview .h5
{
    font-size : 1.15em;    
}

.mdview .h6
{
    font-size : 1.1em;    
}

.command-button
{
    padding : 0.2em 0.5em;
    border-radius : 5px;
}

.command-button:hover
{
    background-color : var(--hover-background-color);
}

.command-button:active
{
    background-color : var(--active-background-color);
}

.command-button-label
{
    font-weight : bold;
}

.command-button-right
{
    font-style : italic;
    color : grey;
}

.commander-search
{
    margin : 1px;
    border : none;
    border-radius : 4px 4px 0 0;
}

.commander-list
{
    background-color : var(--list-background-color);
}

.commander-container
{
    margin : .5em 0;
}

.list-item
{
    background : var(--list-background-color);
    margin : 1px 0;
}

.list-item:first-child
{
    border-radius : 5px 5px 0px 0px;
}

.list-item:last-child
{
    border-radius : 0px 0px 5px 5px;
}

.selected
{
    background-color : var(--selected-color);
}
