:root {
    --hover-background-color : #DDDDDD;
    --active-background-color : #CCCCCC;
    --slider-background : #256699;
    --slider-cursor-color: black;
    --list-background-color: #EEEEEE;
    --separator-color: #555555;
    --dialog-cancel-color: #FF4444;
    --dialog-ok-color: #22AA66;
    --code-block-background-color: #CCCCCC;
    --selected-color: #2299dd;
}

.confirm .dialog-cancel, 
.confirm .dialog-ok
{
    color : white;
}
